@charset "UTF-8";

html {
	height: 100%;
	width: 100%;
}



body {
	height: 100%;
}

main {
	margin: 0;
    padding: 0;
	background-image: url("../image/back-ground-image.jpg");
	height: 100%;
}

.page-header {
	margin-top: 0px;
}

header {
	height: 50px;
}

header h1 {
	font-size: 1.5rem;
	text-align: center;
	color: #FFFFFF;
	padding: 0.6rem 0rem;
	margin: auto;
}

.drawer-nav {
	padding: 3% 3%;
}

.drawer-hamburger {
	padding: 10px;
	width: 1.5rem;
	height: auto;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after,
	.drawer-hamburger-icon:before {
	background-color: #FFF;
}

.drawer-hamburger-icon:after {
	top: 10px;
}

.drawer-hamburger-icon:before {
	top: -10px;
}


.drawer-menu-item {
	font-size: 2rem;
	border-bottom: dotted 3px var(--bs-gray);
}

.main-content h1 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.m-inner {
	height: 100%;
	padding: 10% 5%;
}

.home h1 {
	font-size: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.inline-form {
	display: flex;
	justify-content: space-evenly;
}

form select, form button {
	font-size: 1rem;
	background-color: #FFF;
	width: 120px;
	outline: auto;
	outline-color: var(--bs-green);
	padding: 0.5rem;
}

form option {
	font-size: 1rem;
	width: auto;
}


select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}


select::-ms-expand {
    display: block;
}

select{
	position: relative;
	padding: 10px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-wrap {
	display: inline-block;
    position: relative;
    width: 120px;
}

.select-wrap:after {
    content: "";
    position: absolute;
    right: 6px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: translateY(-50%) rotate(-135deg);
    font-size: 1rem;
    pointer-events: none;
}

.home .btn {
	display: block;
	--bs-btn-border-radius: 0.5rem;
	--bs-btn-font-size: 1rem;
	margin: 1rem 0rem;
	box-shadow: 10px 10px 10px #666;
}

.btn:active{
	border-color: transparent!important;
}

.main-content #btn-sub{
	display: inline-block;
	width: auto;
}
