@charset "UTF-8";

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
}

main {
	position: relative;
	margin: 0;
    padding: 0;
	background-color: white;
	height: auto;
}

header {
	position: relative;
	box-shadow: 2px 2px 2px #CCC;
	z-index: 1000;
	height: 50px;
}

a{
	text-decoration: none;
}

header h1 {
	font-size: 1.5rem;
	text-align: center;
	color: #FFFFFF;
	padding: 0.6rem 0rem;
	margin: auto;
	color: var(--bs-green);
}

header .inner{
	display: flex;
}

.drawer-nav {
	padding: 3% 3%;
	z-index:9999;
}

.drawer-hamburger {
	position: fixed;
	padding: 10px;
	width: 1.5rem;
	height: auto;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after,
	.drawer-hamburger-icon:before {
	background-color: #999;
}

.drawer-hamburger-icon:after {
	top: 10px;
}

.drawer-hamburger-icon:before {
	top: -10px;
}


.drawer-menu-item {
	font-size: 1rem;
	border-bottom: dotted 3px var(--bs-gray);
}

.drawer-menu-item:hover {
	text-decoration: none;
}

.drawer-user{
	font-size: 1.2rem;
	color: #000;
	text-decoration: none;
}

#ver{
	position: absolute;
	display: block;
	padding: 0.75rem;
	bottom: 0;
}

.main-content h1 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

#m-inner {
	padding: 10% 0%;
    height: 100%;
}

.category-content, .puzzles-content{
	padding-right: 10%;
	padding-left:10%;
}

.play-content{
	margin-right: 5%;
    margin-left: 5%;
}

.home h1 {
	font-size: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.inline-form {
	display: flex;
	justify-content: space-evenly;
}

form select, form button {
	font-size: 1rem;
	background-color: #FFF;
	width: 120px;
	outline: auto;
	outline-color: var(--bs-green);
	padding: 0.5rem;
}

form option {
	font-size: 1rem;
	width: auto;
}


select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}


select::-ms-expand {
    display: block;
}

select{
	position: relative;
	padding: 10px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-wrap {
	display: inline-block;
    position: relative;
    width: 120px;
}

.select-wrap:after {
    content: "";
    position: absolute;
    right: 6px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: translateY(-50%) rotate(-135deg);
    font-size: 1rem;
    pointer-events: none;
}

.home .btn {
	display: block;
	--bs-btn-border-radius: 0.5rem;
	--bs-btn-font-size: 1rem;
	margin: 1rem 0rem;
	box-shadow: 10px 10px 10px #666;
}

.btn:active{
	border-color: transparent!important;
}

.main-content #btn-sub{
	display: inline-block;
	width: auto;
}

a.category-select, .each-puzzle{
	display: block;
	padding: 1rem;
	width: 100%;
	text-decoration: none;
    /**
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);

    **/
}

.common-btn{
	display: block;
	padding: 1rem;
	width: 100%;
	text-decoration: none;
	margin-top: 30px;
	margin-bottom: 30px;
    color: white;
}

a.category-select{
	margin-top: 30px;
	margin-bottom: 30px;
    color: white;
}



.puzzles-content{
	display: flex;
	flex-wrap: wrap;
}

.each-puzzle{
	position: relative;
	padding: 0;
	color: #FFF;
	width: 50%;
	display: inline-block;
	border: solid #FFF 7px;
}

.puzzle-inner{
	padding: 1rem;
}


.unsolvable{
	pointer-events: none;
	z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
}

/**
.each-puzzle > div::after {
  content: '';
  display: block;
  position: absolute;
  top: .5em;
  left: -1.5em;
  width: 10px;
  height: 5px;
  border-left: 2px solid #25AF01;
  border-bottom: 2px solid #25AF01;
  transform: rotate(-45deg);
}
**/

.board-size{
	display: block;
}

.logic {
	background-color: var(--bs-primary);
}

.hardware{
	background-color: var(--bs-primary);
}

.software{
	background-color: var(--bs-info);
}

.database{
	background-color: var(--bs-orange);
}

.network{
	background-color: #6f42c1;
}

.security{
	background-color: var(--bs-danger);
}

.system{
	background-color: var(--bs-warning);
}

.management{
	background-color: #6610f2;
}

.strategy{
	background-color: var(--bs-success);
}

.kw-content{
	font-size: 5vw;
    margin: 0rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.board-content{
	position: relative;
	width: fit-content;
	z-index: 2;
	background-color: transparent;
    margin: 1rem auto 1rem;
}

.top-canvas{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}

.bottom-canvas{
	z-index: -2;
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}

.selected{
	color:white;
	font-size: 7.5vw;
}

span.letter{
    vertical-align: middle;
    height: 10vw;
    line-height: 10vw;
    width: 10vw;
    display: inline-block;
    font-size: 7vw;
    text-align: center;
    z-index: 5;
}

.deleted{
	text-decoration: line-through;
	color: #AAA;
}

#good{
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
}

#clear{
	position: absolute;
    top: 0;
	height: 100%;
	width: 100%;
	display: none;
	opacity:1;
	z-index:99;
	padding: 0%;
	background-color: transparent;

}

#clear-inner{
	width: 60%;
	margin: 20% auto;
}


.bg-indigo{
	background-color: #6610f2;
}

.bg-purple{
	background-color: #6f42c1;
}

.bg-orange{
	background-color: #fd7e14
}

#news h1,p{
	text-align: center;
}