<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
	xmins:layout="http://www.ultraq.net.nz/thymeleaf/latout">
<!-- Bootstrapを設定 -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script th:src="@{/js/layout.js}"></script>


<head>
<meta charset="UTF8"></meta>
</head>
<body class="drawer drawer--left">
	<main role="main">
		<div th:fragment="category_contents" th:remove="tag">

			<div class="category-content">
				<div class="h1-wrapper">
					<h1>カテゴリーを選んでください</h1>
				</div>

				<div class="category-wrapper">
					<div class="category-item-container">
						<div class="category-inner software">
							<div class="category-icon-container">
								<div class="category-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="25vw"
										height="25vw" fill="#FFF" viewBox="0 0 24 24">
								<path
											d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" /></svg>

								</div>
							</div>
							<span class="category-description">github</span>
						</div>
					</div>
					<div class="category-item-container">
						<div class="category-inner software">
							<div class="category-icon-container">
								<div class="category-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="25vw"
										height="25vw" fill="#FFF" viewBox="0 0 24 24">
								<path
											d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" /></svg>

								</div>
							</div>
							<span class="category-description">github</span>
						</div>
					</div>
					<div class="category-item-container">
						<div class="category-inner software">
							<div class="category-icon-container">
								<div class="category-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="30vw"
										height="30vw" fill="#FFF" viewBox="0 0 24 24">
								<path
											d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" /></svg>

								</div>
							</div>
							<span class="category-description">github</span>
						</div>
					</div>
					<div class="category-item-container">
						<div class="category-inner software">
							<div class="category-icon-container">
								<div class="category-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="30vw"
								height="30vw" fill="#FFF" viewBox="0 0 24 24">
								<path
									d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" /></path></svg>
								</div>
							</div>
							<span class="category-description">github</span>
						</div>
					</div>
				</div>

				<svg xmlns="http://www.w3.org/2000/svg" width="30vw" height="30vw"
					fill="#FFF" viewBox="0 0 50 25">
  <g id="layer1" stroke="#000" fill="none"
						transform="translate(-15.5 -17.594)">
    <path id="path6087" stroke-linecap="square"
						d="m44 44.094h-19v-25.998l19-0.002c7.176 0 13 5.824 13 13s-5.824 13-13 13zm13-13h9.056m-50.056-6.5h9m-9 13h9" />
  </g>
  <metadata>
    <rdf:RDF>
      <cc:Work>
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <cc:license
								rdf:resource="http://creativecommons.org/licenses/publicdomain/" />
        <dc:publisher>
          <cc:Agent rdf:about="http://openclipart.org/">
            <dc:title>Openclipart</dc:title>
          </cc:Agent>
        </dc:publisher>
        <dc:title>Digital logic gates</dc:title>
        <dc:date>2008-02-05T18:37:38</dc:date>
        <dc:description>A collection of gates for digital circuits designed according to the official IEEE Std 91-1984, Appendix A guidelines.</dc:description>
        <dc:source>http://openclipart.org/detail/12885/digital-logic-gates-by-nobody</dc:source>
        <dc:creator>
          <cc:Agent>
            <dc:title>nobody</dc:title>
          </cc:Agent>
        </dc:creator>
        <dc:subject>
          <rdf:Bag>
            <rdf:li>clip art</rdf:li>
            <rdf:li>clipart</rdf:li>
            <rdf:li>digital</rdf:li>
            <rdf:li>gates</rdf:li>
            <rdf:li>image</rdf:li>
            <rdf:li>inverter</rdf:li>
            <rdf:li>logic</rdf:li>
            <rdf:li>media</rdf:li>
            <rdf:li>nand</rdf:li>
            <rdf:li>nor</rdf:li>
            <rdf:li>public domain</rdf:li>
            <rdf:li>svg</rdf:li>
            <rdf:li>xnor</rdf:li>
            <rdf:li>xor</rdf:li>
          </rdf:Bag>
        </dc:subject>
      </cc:Work>
      <cc:License
							rdf:about="http://creativecommons.org/licenses/publicdomain/">
        <cc:permits
								rdf:resource="http://creativecommons.org/ns#Reproduction" />
        <cc:permits
								rdf:resource="http://creativecommons.org/ns#Distribution" />
        <cc:permits
								rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
      </cc:License>
    </rdf:RDF>
  </metadata>
</svg>
				<a class="category-select software bg-gradient"
					href="./ws-puzzles?category=1"> ソフトウェア </a> <a
					class="category-select security bg-gradient"
					href="./ws-puzzles?category=2"> セキュリティ </a> <a
					class="category-select network bg-gradient"
					href="./ws-puzzles?category=3"> ネットワーク </a> <a
					class="category-select database bg-gradient"
					href="./ws-puzzles?category=4"> データベース </a> <a
					class="category-select strategy bg-gradient"
					href="./ws-puzzles?category=5"> ストラテジー </a> <a
					class="category-select logic bg-gradient"
					href="./ws-puzzles?category=6"> 論理演算・データ構造 </a>
			</div>
		</div>
	</main>
</body>

</body>
</html>