<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
	xmins:layout="http://www.ultraq.net.nz/thymeleaf/latout">
<!-- Bootstrapを設定 -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script th:src="@{/js/layout.js}"></script>


<head>
<meta charset="UTF8"></meta>
</head>
<body class="drawer drawer--left">
	<main role="main">
		<div th:fragment="category_contents" th:remove="tag">

			<div class="category-content">
				<div class="h1-wrapper">
					<h1>カテゴリーを選んでください</h1>
				</div>
				<div class="col2-btn-wrapper">

					<div class="col2-btn-item-container">
					<a class="col2-btn-link" href="./ws-puzzles?category=1">
						<div class="col2-btn-inner software">
							<div class="col2-btn-icon-container">
								<div class="col2-btn-icon">
									<svg clip-rule="evenodd" fill-rule="evenodd"
										stroke-linejoin="round" stroke-miterlimit="2" height="20vw"
										width="20vw" fill="#FFF" viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="m21 4c0-.478-.379-1-1-1h-16c-.62 0-1 .519-1 1v16c0 .621.52 1 1 1h16c.478 0 1-.379 1-1zm-1.5 5.505v9.995h-15v-9.995zm0-1.5h-15v-3.505h15zm-2.25-2.5c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-3 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75z"
											fill-rule="nonzero" /></svg>
								</div>
							</div>
							<span class="col2-btn-description">ソフトウェア</span>
						</div>

					</a>
					</div>
					<div class="col2-btn-item-container">
					<a class="col2-btn-link" href="./ws-puzzles?category=2">
						<div class="col2-btn-inner security">
							<div class="col2-btn-icon-container">
								<div class="col2-btn-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20vw"
										height="20vw" fill="#FFF" viewBox="0 0 24 24">
										<path
											d="M15.762 8.047l-4.381 4.475-2.215-2.123-1.236 1.239 3.451 3.362 5.619-5.715-1.238-1.238zm-3.762-5.503c2.5 1.805 4.555 2.292 7 2.416v9.575c0 3.042-1.686 3.827-7 7.107-5.309-3.278-7-4.065-7-7.107v-9.575c2.447-.124 4.5-.611 7-2.416zm0-2.544c-3.371 2.866-5.484 3-9 3v11.535c0 4.603 3.203 5.804 9 9.465 5.797-3.661 9-4.862 9-9.465v-11.535c-3.516 0-5.629-.134-9-3z" /></svg>
								</div>
							</div>
							<span class="col2-btn-description">セキュリティ</span>
						</div>
					</a>
					</div>
					<div class="col2-btn-item-container">
					<a class="col2-btn-link" href="./ws-puzzles?category=3">
						<div class="col2-btn-inner network">
							<div class="col2-btn-icon-container">
								<div class="col2-btn-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20vw"
										height="20vw" fill="#FFF" viewBox="0 0 24 24">
										<path
											d="M21 9c-1.656 0-3 1.343-3 3s1.344 3 3 3 3-1.343 3-3-1.344-3-3-3zm-15 9c-1.657 0-3 1.343-3 3s1.343 3 3 3c1.656 0 3-1.343 3-3s-1.344-3-3-3zm3-15c0 1.657-1.344 3-3 3s-3-1.343-3-3 1.344-3 3-3 3 1.343 3 3zm1.588-1.979l.412-.021c4.281 0 7.981 2.45 9.8 6.021-.717.029-1.39.21-1.998.511-1.555-2.703-4.466-4.532-7.802-4.532 0-.703-.149-1.372-.412-1.979zm10.212 15.958c-1.819 3.571-5.519 6.021-9.8 6.021l-.412-.021c.263-.607.412-1.276.412-1.979 3.336 0 6.247-1.829 7.802-4.532.608.302 1.281.483 1.998.511zm-18.91 1.186c-1.193-1.759-1.89-3.88-1.89-6.165s.697-4.406 1.89-6.165c.392.566.901 1.039 1.487 1.403-.867 1.383-1.377 3.012-1.377 4.762s.51 3.379 1.377 4.762c-.586.364-1.096.837-1.487 1.403z" /></svg>
								</div>
							</div>
							<span class="col2-btn-description">ネットワーク</span>
						</div>

					</a>
					</div>

					<div class="col2-btn-item-container">
					<a class="col2-btn-link" href="./ws-puzzles?category=4">
						<div class="col2-btn-inner database">
							<div class="col2-btn-icon-container">
								<div class="col2-btn-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20vw"
										height="20vw" fill="#FFF" viewBox="0 0 24 24">
										<path
											d="M22 18.055v2.458c0 1.925-4.655 3.487-10 3.487-5.344 0-10-1.562-10-3.487v-2.458c2.418 1.738 7.005 2.256 10 2.256 3.006 0 7.588-.523 10-2.256zm-10-3.409c-3.006 0-7.588-.523-10-2.256v2.434c0 1.926 4.656 3.487 10 3.487 5.345 0 10-1.562 10-3.487v-2.434c-2.418 1.738-7.005 2.256-10 2.256zm0-14.646c-5.344 0-10 1.562-10 3.488s4.656 3.487 10 3.487c5.345 0 10-1.562 10-3.487 0-1.926-4.655-3.488-10-3.488zm0 8.975c-3.006 0-7.588-.523-10-2.256v2.44c0 1.926 4.656 3.487 10 3.487 5.345 0 10-1.562 10-3.487v-2.44c-2.418 1.738-7.005 2.256-10 2.256z" /></svg>
								</div>
							</div>
							<span class="col2-btn-description">データベース</span>
						</div>

					</a>
					</div>
					<div class="col2-btn-item-container">
					<a class="col2-btn-link" href="./ws-puzzles?category=5">
						<div class="col2-btn-inner strategy">
							<div class="col2-btn-icon-container">
								<div class="col2-btn-icon">
									<svg width="20vw" height="20vw" fill="#FFF"
										xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
										viewBox="0 0 24 24" clip-rule="evenodd">
										<path
											d="M18.305 20.418c-.992.615-2.16.97-3.411.97-3.588 0-6.5-2.919-6.5-6.514s2.912-6.513 6.5-6.513c3.587 0 6.5 2.918 6.5 6.513 0 1.254-.354 2.425-.967 3.419l3.573 3.58-2.121 2.126-3.574-3.581zm-8.904-.436c-3.216-.19-6.025-1.903-7.716-4.427l4.349-2.511c.38.493.849.914 1.383 1.237-.015.197-.023.396-.023.596 0 1.972.762 3.766 2.007 5.105zm5.493-9.592c2.484 0 4.5 2.02 4.5 4.509 0 2.489-2.016 4.509-4.5 4.509s-4.5-2.02-4.5-4.509c0-2.489 2.016-4.509 4.5-4.509zm-1.5 6.989h-1v-2.004h1v2.004zm2 0h-1v-3.006h1v3.006zm2 0h-1v-4.96h1v4.96zm-7.894-17.367v5.013c-2.525.251-4.5 2.384-4.5 4.975 0 .787.182 1.531.507 2.194l-4.336 2.503c-.747-1.401-1.171-3-1.171-4.697 0-5.351 4.213-9.727 9.5-9.988zm4.772 7.391c-.796-1.306-2.174-2.219-3.772-2.378v-5.013c5.077.251 9.164 4.296 9.48 9.356-1.337-1.236-3.124-1.991-5.086-1.991-.209 0-.417.009-.622.026z" /></svg>
								</div>
							</div>
							<span class="col2-btn-description">ストラテジー</span>
						</div>

					</a>
					</div>

					<div class="col2-btn-item-container">
					<a class="col2-btn-link" href="./ws-puzzles?category=6">
						<div class="col2-btn-inner logic">
							<div class="col2-btn-icon-container">
								<div class="col2-btn-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20vw"
										height="20vw" fill="#FFF" viewBox="0 0 50 25">
  										<g id="layer1" stroke="#FFF" stroke-width="3" fill="none"
											transform="translate(-15.5 -17.594)">
    										<path id="path6087" stroke-linecap="square"
											d="m44 44.094h-19v-25.998l19-0.002c7.176 0 13 5.824 13 13s-5.824 13-13 13zm13-13h9.056m-50.056-6.5h9m-9 13h9" />
 										</g>
									  <metadata>
									    <rdf:RDF>
									      <cc:Work>
									        <dc:format>image/svg+xml</dc:format>
									        <dc:type
													rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
									        <cc:license
													rdf:resource="http://creativecommons.org/licenses/publicdomain/" />
									        <dc:publisher>
									          <cc:Agent rdf:about="http://openclipart.org/">
									            <dc:title>Openclipart</dc:title>
									          </cc:Agent>
									        </dc:publisher>
									        <dc:title>Digital logic gates</dc:title>
									        <dc:date>2008-02-05T18:37:38</dc:date>
									        <dc:description>A collection of gates for digital circuits designed according to the official IEEE Std 91-1984, Appendix A guidelines.</dc:description>
									        <dc:source>http://openclipart.org/detail/12885/digital-logic-gates-by-nobody</dc:source>
									        <dc:creator>
									          <cc:Agent>
									            <dc:title>nobody</dc:title>
									          </cc:Agent>
									        </dc:creator>
									        <dc:subject>
									          <rdf:Bag>
									            <rdf:li>clip art</rdf:li>
									            <rdf:li>clipart</rdf:li>
									            <rdf:li>digital</rdf:li>
									            <rdf:li>gates</rdf:li>
									            <rdf:li>image</rdf:li>
									            <rdf:li>inverter</rdf:li>
									            <rdf:li>logic</rdf:li>
									            <rdf:li>media</rdf:li>
									            <rdf:li>nand</rdf:li>
									            <rdf:li>nor</rdf:li>
									            <rdf:li>public domain</rdf:li>
									            <rdf:li>svg</rdf:li>
									            <rdf:li>xnor</rdf:li>
									            <rdf:li>xor</rdf:li>
									          </rdf:Bag>
									        </dc:subject>
									      </cc:Work>
									      <cc:License
												rdf:about="http://creativecommons.org/licenses/publicdomain/">
									        <cc:permits
													rdf:resource="http://creativecommons.org/ns#Reproduction" />
									        <cc:permits
													rdf:resource="http://creativecommons.org/ns#Distribution" />
									        <cc:permits
													rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
									      </cc:License>
									    </rdf:RDF>
									  </metadata>
								</svg>
								</div>
							</div>
							<span class="col2-btn-description">論理演算</span>
						</div>
					</a>
					</div>
					</div>
				</div>
			</div>
	</main>
</body>

</body>
</html>