<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
	xmins:layout="http://www.ultraq.net.nz/thymeleaf/latout">
<!-- Bootstrapを設定 -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script th:src="@{/js/layout.js}"></script>


<head>
<meta charset="UTF8"></meta>
</head>
<body class="drawer drawer--left">
	<main role="main">
		<div th:fragment="play_contents" th:remove="tag">
			<div class="play-content">
				<div class="inner-header">
					<!--<button class="btn" type="button" onclick="history.back()">戻る</button>-->
				</div>
				<div class="kw-content">
					<th:block th:each="kw : ${puzzle.KWList}">
						<span th:text="${kw}"></span>
					</th:block>
				</div>

				<div class="board-content">
					<th:block th:each="h,i : ${puzzle.board}">
						<th:block th:each="w, j : ${h}">
							<span class="letter" th:text="${w}"
								th:data-id="${i.index} * ${puzzle.height} + ${j.index}"></span>
						</th:block>
						<br>
					</th:block>
					<canvas class="board-canvas">
図形を表示するには、canvasタグをサポートしたブラウザが必要です。
</canvas>

				</div>
			</div>

			<script>
				var from;
				var to;

				'use strict';

				function startDraw(e) {
					console.log("started");

					console.log(e);
					console.log(e.target.dataset.id);
					console.log(e.target.dataset.id);

					//from = to = document.elementFromPoint(e.touches[0].screenX, e.touches[0].screenY);
					from = to = e.target.dataset.id;
					var elements = document.querySelectorAll('[data-id="' + from + '"]');


					console.log(elements);
				}

				function draw(e) {
					
					e.preventDefault();
					
					console.log("drawing");
					/**
					var touch = e.originalEvent.changedTouches[0];
					var target = $(document.elementFromPoint(touch.clientX,
							touch.clientY));**/
					to = e.target.dataset.id;
					console.log(e.changedTouches[0]);

					var elements = document.querySelectorAll('[data-id="' + to + '"]');

					console.log(elements);
				}

				function endDraw(e) {
					console.log("ended");


				}

				var letters = document.getElementsByClassName('letter');

				for (var i = 0; i < letters.length; i++) {
					console.log("i = " + i);
					letters[i].ontouchstart = startDraw;
					letters[i].ontouchmove = draw;
					letters[i].ontouchend = endDraw;
				}

				/**
					var from;
					var to;


					$('.letter').on('touchstart', function() {

						console.log("touchstart");

						from = to = $(this).data('id');

						var context = $('canvas')[0].getContext('2d');
						//ここに具体的な描画内容を指定する
						//新しいパスを開始する
						context.beginPath();
						//パスの開始座標を指定する

						var left = $(this).offset().left;
						var top = $(this).offset().top;
						var width = $(this).width();
						var height = $(this).height();

						offsetCenterLeft = left + (width / 2);
						offsetCenterTop = top + (height / 2);

						context.moveTo(offsetCenterLeft, offsetCenterTop);

						console.log(from);
					});



					$('.letter').on('touchmove', function() {
						console.log("touchmove");

						to = $(this).data('id');
						console.log(to);

						var context = $('canvas')[0].getContext('2d');
						//ここに具体的な描画内容を指定する
						//新しいパスを開始する

						var left = $(this).offset().left;
						var top = $(this).offset().top;
						var width = $(this).width();
						var height = $(this).height();

						offsetCenterLeft = left + (width / 2);
						offsetCenterTop = top + (height / 2);

						context.fillStyle = '#ccc';
						context.strokeStyle = 'red';

						context.lineTo(offsetCenterLeft, offsetCenterTop);
						context.stroke();
					});

					$('.letter').on('touchend', function() {
				/*
						console.log("touchend");
				 */

				/**
				 var context = $('canvas')[0].getContext('2d');
				 //ここに具体的な描画内容を指定する
				 //新しいパスを開始する

				 var left = $(this).offset().left;
				 var top = $(this).offset().top;
				 var width = $(this).width();
				 var height = $(this).height();

				 offsetCenterLeft = left + (width / 2);
				 offsetCenterTop = top + (height / 2);

				 context.fillStyle = '#ccc';
				 context.strokeStyle = 'red';
				 /**
				 console.log(offsetCenterLeft + " " + offsetCenterTop);
				 **/

				/**
				 context.lineTo(offsetCenterLeft, offsetCenterTop);
				 context.stroke();
				 /**
				 console.log("from : " + from.attr('data-id') + " to : " + to.attr('data-id'));
				 **/
				/*	});*/
			</script>

		</div>
	</main>
	<footer>
		<div
			class="fixed-bottom mx-0 bg-dark bg-opacity-75 text-center text-white">
			<h5>@BFT なごやしてん</h5>
		</div>

	</footer>

</body>

</body>
</html>