<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
	xmins:layout="http://www.ultraq.net.nz/thymeleaf/latout">
<!-- Bootstrapを設定 -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script th:src="@{/js/layout.js}"></script>


<head>
<meta charset="UTF8"></meta>
</head>
<body class="drawer drawer--left">
	<main role="main">
		<div th:fragment="puzzles_contents" th:remove="tag">
			<div class="puzzles-content">

				<div class="h1-wrapper">
					<h1>遊びたいパズルを選んで下さい</h1>
				</div>

				<div class="col2-btn-wrapper">

					<div th:class="col2-btn-item-container" th:each="puzzle : ${puzzleList}"
						th:object="${puzzle}">
						<div class="col2-btn-inner bg-gradient"
							th:classappend="${puzzle.categoryClass} + ' lv' + ${puzzle.levelId}">

							<div class="id" th:text="'#' + *{puzzleId}"></div>
							<div class="category" th:text="*{categoryName}"></div>
							<div class="level" th:text="'レベル ' + *{levelId}"></div>
							<div class="board-size"
								th:text="'サイズ ' + *{width} + ' * ' + *{height}"></div>
							<div class="width" th:text="*{width}" hidden></div>
							<div class="height" th:text="*{height}" hidden></div>
						</div>

					</div>
				</div>
			</div>
			<script>
				$(function() {
					$('.col2-btn-item-container')
							.on(
									'touchstart',
									function() {
										var id = $(this).find(".id").html();

										//#を取る
										id = id.slice(1, id.length);

										// POST先
										var url = "./ws-create";

										// パラメータを付与する場合
										var inputs = '';
										var params = [ [ "id", id ] ];
										for (var i = 0, n = params.length; i < n; i++) {
											inputs += '<input type="hidden" name="' + params[i][0] + '" value="' + params[i][1] + '" />';
										}

										var token = $('head meta[name="_csrf"]')
												.attr("content");

										inputs += '<input type="hidden" name="_csrf" value="' + token + '" />';

										// POST遷移
										$("body").append(
												'<form action="'+url+'" method="post" id="post">'
														+ inputs + '</form>');
										$("#post").submit();

									});
				});
			</script>
		</div>
	</main>
	<footer> </footer>

</body>

</body>
</html>