<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
	xmins:layout="http://www.ultraq.net.nz/thymeleaf/latout">
<!-- Bootstrapを設定 -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script th:src="@{/js/layout.js}"></script>


<head>
<meta charset="UTF8"></meta>
</head>
<body class="drawer drawer--left">
	<main role="main">
		<div th:fragment="register_contents" th:remove="tag">
			<div class="register-content">
				<h1>以下の内容で登録しました。</h1>
				<div class="form-div">
					<label>ユーザー名</label> <span th:text="${signupForm.userName}"></span>
				</div>
				<div class="form-div">
					<label>パスワード</label> <span th:text="セキュリティの為表示されません"></span>
				</div>
				<div class="form-div">
					<label>メールアドレス</label> <span th:text="${signupForm.email}"></span>
				</div>
				<button class="bg-success text-white form-btn">ログイン画面へ</button>

			</div>
		</div>
	</main>
	<footer>
		<div
			class="fixed-bottom mx-0 bg-dark bg-opacity-75 text-center text-white">
			<h5>@BFT なごやしてん</h5>
		</div>

	</footer>

</body>

</body>
</html>