<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org"
	xmins:layout="http://www.ultraq.net.nz/thymeleaf/latout">
<!-- Bootstrapを設定 -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script th:src="@{/js/layout.js}"></script>


<head>
<meta charset="UTF8"></meta>
</head>
<body class="drawer drawer--left">
	<main role="main">
		<div th:fragment="signup_contents" th:remove="tag">
			<div class="signup-content">
				<h1>ユーザー登録</h1>
				<form th:action=@{/confirm} method ="post" th:object="${signupForm}">
					<div class="form-div" th:classappend="${fields.hasErrors('userName')}?'has-error'">
						<label>ユーザー名</label> <input th:field = "*{userName}" type="text" placeholder="ユーザー名を入力してください"><br>
					</div>
					<div class="form-div">
						<label>パスワード</label> <input th:field = "*{password}" type="password" placeholder="パスワードを入力してください">
					</div>
					<div class="form-div">
						<label>メールアドレス</label> <input th:field = "*{email}" type="email" placeholder="メールアドレスを入力してください">
					</div>
					<div class="form-div">
						<li th:each="error:${#fields.detailedErrors()}">
						<span th:text="${error.message}">errorMsg</span>
						</li>

						</li>
					</div>
					<button type="submit" class="bg-success text-white" id="btn-submit">登録する</button>
				</form>
			</div>
		</div>
	</main>
	<footer>
		<div
			class="fixed-bottom mx-0 bg-dark bg-opacity-75 text-center text-white">
			<h5>@BFT なごやしてん</h5>
		</div>

	</footer>

</body>

</body>
</html>